DATABASE_URL="postgresql://postgres:1234@localhost:5432/growfi?schema=public"
# Generate a new unique value for production; this example is only for local setup.
JWT_SECRET="gpjTfJoz5L1kK7fiZkEVUmNXnFkwrgA1kORkrfjaFvKRBSPPmqXe3wzjc3fRygHn"
